.auth-container {
  width: 400px;
  margin: 80px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  display: block;
  width: 90%;
  margin: 20px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  gap: 20px;
}

button {
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 60%;
  margin-top: 10px;
}

.auth-container button:hover {
  background-color: #357ab7;
}
